<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../templates/commonMeta') %>
    <title>Details</title>
  </head>
  <body>
    <%- include('../templates/header') %>

    <div class="page-grow-container">
      <div class="page-container">
        <div hx-get="/api/playground/<%= id %>" hx-trigger="load"></div>
      </div>
    </div>

    <%- include('../templates/footer') %>
  </body>
</html>
